### DSC 4320 Final Project
Brock Carey, Emily Liau

In [2]:
# import packages
import pandas as pd

In [13]:
# data pre-processing
data = pd.read_csv('C:/Users/emily/DSC_4320/DSC 4320 Final Project/data.csv', sep=',')
data

,DATE_FOR,RTD_ST_CD,CustomerSegment,Tenure,Age,MART_STATUS,GENDER,CHANNEL1_6M,CHANNEL2_6M,CHANNEL3_6M,...,CHANNEL5_3M,METHOD1_3M,PAYMENTS_3M,NOT_DI_3M,NOT_DI_6M,EVENT1_30_FLAG,EVENT2_90_SUM,LOGINS,POLICYPURCHASECHANNEL,Call_Flag
0,5/19/2014,ST_S0,1,16.175222,78.403833,MS_S0,F,0.0,0.0,1.0,...,2,0,3,0,0,0,0,0,0,0
1,5/17/2014,ST_S0,1,15.931554,70.989733,MS_S1,F,0.0,6.0,0.0,...,0,3,3,0,0,0,0,0,0,0
2,5/15/2014,ST_S0,1,15.937029,87.578371,MS_S2,M,0.0,0.0,10.0,...,0,0,6,0,0,0,0,0,0,0
3,5/16/2014,ST_S1,1,15.934292,68.438056,MS_S2,M,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,1,0
4,5/20/2014,ST_S0,1,15.501711,80.514716,MS_S0,F,0.0,0.0,1.0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130081,5/17/2014,ST_S16,NONE,0.131417,46.258727,MS_S2,M,0.0,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0
130082,5/19/2014,ST_S41,NONE,0.117728,36.574949,MS_S1,M,0.0,0.0,0.0,...,0,0,2,0,0,0,0,0,0,0
130083,5/16/2014,ST_S14,NONE,0.131417,56.906229,MS_S3,M,0.0,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0
130084,5/15/2014,ST_S14,NONE,0.087611,23.857632,MS_S2,M,0.0,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0
130085,5/19/2014,ST_S9,3,9.434634,32.276523,MS_S1,F,0.0,3.0,0.0,...,0,2,2,0,0,0,0,0,0,0